In [7]:
import pyodbc 
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=DESKTOP-N30S4RA;"
                      "Database=Nisira_ACP;"
                      "Trusted_Connection=yes;")
import pandas as pd
df_consumidor = pd.read_sql_query('select IDCONSUMIDOR, TIPO ,JERARQUIA, DESCRIPCION, IDCCOSTO, AREA,IDNIVELCONSUMIDOR from CONSUMIDOR', cnxn)

df_consumidor.head(5)

,IDCONSUMIDOR,TIPO,JERARQUIA,DESCRIPCION,IDCCOSTO,AREA,IDNIVELCONSUMIDOR
0,01,T,001.001.001,SECTOR 1,01,474.40,002
1,0101,T,001.001.001.001,SECTOR 1 MODULO 1,0101,70.56,003
2,010101,T,001.001.001.001.001,SECTOR 1 MODULO 1 TURNO 1,010101,10.30,004
3,010102,T,001.001.001.001.002,SECTOR 1 MODULO 1 TURNO 2,010102,10.30,004
4,010103,T,001.001.001.001.003,SECTOR 1 MODULO 1 TURNO 3,010103,10.30,004

In [4]:
df_compConsumidor = pd.read_sql_query('select IDCONSUMIDOR, TIPO ,JERARQUIA, DESCRIPCION, IDCCOSTO, AREA,IDNIVELCONSUMIDOR, DESCRIPCIONCORTA from CONSUMIDOR where IDCCOSTO <> DESCRIPCIONCORTA', cnxn)
df_compConsumidor

,IDCONSUMIDOR,TIPO,JERARQUIA,DESCRIPCION,IDCCOSTO,AREA,IDNIVELCONSUMIDOR,DESCRIPCIONCORTA
0,0102GR,T,001.004.001.001,SECTOR 1 MODULO 2 (GRANADO),0102GR,70.56,003,0102
1,0102PA,T,001.002.001.001,SECTOR 1 MODULO 2 (PALTO),0102PA,70.56,003,0102
2,0103PA,T,001.002.001.002,SECTOR 1 MODULO 3 (PALTO),0103PA,115.64,003,0103
3,0105PA,T,001.002.001.003,SECTOR 1 MODULO 5 (PALTO),0105PA,68.00,003,0105
4,01GR,T,001.004.001,SECTOR 1 (GRANADO),01GR,474.40,002,01
5,01PA,T,001.002.001,SECTOR 1 (PALTO),01PA,474.40,002,01
6,0304VID,T,001.003.001.001,SECTOR 3 MODULO 4 (VID),0304VID,21.41,003,0304
7,03PA,T,001.002.003,SECTOR 3 (PALTO),03PA,745.76,002,03
8,03VID,T,001.003.001,SECTOR 3 (VID),03VID,745.76,002,03
9,06ARA,T,001.009.001,SECTOR 6,06ARA,45.00,002,03ARA
10,CI,R,004,OTROS CONSUMIDORES,CI,0.00,001,GI
11,GRANADO,T,001.004,CULTIVO GRANADO,GRANADO,474.40,002,01
12,ICP,O,006.004,INMOBILIARIA CERRO PRIETO,ICP,NaN,,INMOBI
13,IPAR-002,M,003.002.005.002.001,ARADO CUATRO VERTEDERAS JD 975 # 1,IPAR-002,0.00,,JD04-01
14,NAESPA,R,005.010,CONSTRUCCION NAVE ESPARRAGO - PACKING 8.5,NAESPA,0.00,,NAESP
15,NUEINV,R,004.008.012.006,EVALUACION NUEVAS INVERSIONES,NUEINV,0.00,,EVNUINV
16,PALTO,T,001.002,CULTIVO PALTO,PALTO,474.40,002,01
17,PRPALTARE,R,004.013.001.006,PRODUCCION PALTA REEMPAQUE,PRPALTARE,0.00,,REEMPAQUE DE PALTA
18,PZ03,F,002.004.003,POZO N° 03,PZ03,0.00,,POZO N° 03
19,PZ06,F,002.004.006,POZO N° 06,PZ06,0.00,,POZO N° 06
20,REEMPAQ_PALT,R,004.013.001.005,REEMPAQUE DE PALTA,REEMPAQ_PALT,0.00,,REEMPAQUE DE PALTA
21,REEMPAQ_UVA,R,004.013.001.004,REEMPAQUE DE UVA,REEMPAQ_UVA,0.00,,REEMPAQUE DE UVA
22,ROTATIVO,T,001.001,CULTIVOS ROTATIVOS,ROTATIVO,474.40,002,01
23,SERVFRIO,R,004.013.001.003,SERVICIO DE FRIO,SERVFRIO,0.00,,SERV.FRIO
24,VID,T,001.003,CULTIVO VID,VID,474.40,002,01

In [5]:
dif = df_consumidor['IDCCOSTO'] <> df_consumidor['DESCRIPCIONCORTA']
dif

SyntaxError: invalid syntax (<ipython-input-5-0b0387ba96d5>, line 1)