In [5]:
import pyodbc 
cnxn = pyodbc.connect("Driver={SQL Server Native Client 11.0};"
                      "Server=DESKTOP-N30S4RA;"
                      "Database=DM_PLANTA_V1_3;"
                      "Trusted_Connection=yes;")


cursor_consumidor = cnxn.cursor()
cursor_consumidor.execute('SELECT * FROM CONSUMIDOR_DIM')

for row in cursor_consumidor:
    print('row = %r' % (row,))

row = (1, '01          ', 'SECTOR 1', 'FUNDO CERRO PRIETO', Decimal('474.4000'), '002', 'FUNDO')
row = (2, '0101        ', 'SECTOR 1 MODULO 1', 'FUNDO CERRO PRIETO', Decimal('70.5600'), '003', 'CULTIVO')
row = (3, '010101      ', 'SECTOR 1 MODULO 1 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('10.3000'), '004', 'LOTE')
row = (4, '010102      ', 'SECTOR 1 MODULO 1 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('10.3000'), '004', 'LOTE')
row = (5, '010103      ', 'SECTOR 1 MODULO 1 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('10.3000'), '004', 'LOTE')
row = (6, '010104      ', 'SECTOR 1 MODULO 1 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('10.3000'), '004', 'LOTE')
row = (7, '0102        ', 'SECTOR 1 MODULO 2', 'FUNDO CERRO PRIETO', Decimal('70.5600'), '003', 'CULTIVO')
row = (8, '010201      ', 'SECTOR 1 MODULO 2 TURNO 1 (GRANADO)', 'FUNDO CERRO PRIETO', Decimal('2.9000'), '004', 'LOTE')
row = (9, '010201B     ', 'SECTOR 1 MODULO 2 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('17.6400'), '004', 'LOTE')
row = (10, '010202      ', 'SECTOR 1 MODULO 2 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('17.6400'), '004', 'LOTE')
row = (11, '010203      ', 'SECTOR 1 MODULO 2 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('17.6400'), '004', 'LOTE')
row = (12, '010204      ', 'SECTOR 1 MODULO 2 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('17.6400'), '004', 'LOTE')
row = (13, '0102GR      ', 'SECTOR 1 MODULO 2 (GRANADO)', 'FUNDO CERRO PRIETO', Decimal('70.5600'), '003', 'CULTIVO')
row = (14, '0102PA      ', 'SECTOR 1 MODULO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('70.5600'), '003', 'CULTIVO')
row = (15, '0103        ', 'SECTOR 1 MODULO 3', 'FUNDO CERRO PRIETO', Decimal('115.6400'), '003', 'CULTIVO')
row = (16, '010301      ', 'SECTOR 1 MODULO 3 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('28.9100'), '004', 'LOTE')
row = (17, '010302      ', 'SECTOR 1 MODULO 3 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('28.9100'), '004', 'LOTE')
row = (18, '010303      ', 'SECTOR 1 MODULO 3 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('28.9100'), '004', 'LOTE')
row = (19, '010304      ', 'SECTOR 1 MODULO 3 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('28.9100'), '004', 'LOTE')
row = (20, '0103PA      ', 'SECTOR 1 MODULO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('115.6400'), '003', 'CULTIVO')
row = (21, '0104        ', 'SECTOR 1 MODULO 4', 'FUNDO CERRO PRIETO', Decimal('115.6400'), '003', 'CULTIVO')
row = (22, '010401      ', 'SECTOR 1 MODULO 4 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('28.9100'), '004', 'LOTE')
row = (23, '010402      ', 'SECTOR 1 MODULO 4 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('28.9100'), '004', 'LOTE')
row = (24, '010403      ', 'SECTOR 1 MODULO 4 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('28.9100'), '004', 'LOTE')
row = (25, '010404      ', 'SECTOR 1 MODULO 4 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('28.9100'), '004', 'LOTE')
row = (26, '0105        ', 'SECTOR 1 MODULO 5', 'FUNDO CERRO PRIETO', Decimal('68.0000'), '003', 'CULTIVO')
row = (27, '010501      ', 'SECTOR 1 MODULO 5 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('34.0000'), '004', 'LOTE')
row = (28, '010502      ', 'SECTOR 1 MODULO 5 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('34.0000'), '004', 'LOTE')
row = (29, '010503      ', 'SECTOR 1 MODULO 5 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('26.9000'), '004', 'LOTE')
row = (30, '010504      ', 'SECTOR 1 MODULO 5 TURNO 4 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('14.1900'), '004', 'LOTE')
row = (31, '0105PA      ', 'SECTOR 1 MODULO 5 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('68.0000'), '003', 'CULTIVO')
row = (32, '01GR        ', 'SECTOR 1 (GRANADO)', 'FUNDO CERRO PRIETO', Decimal('474.4000'), '002', 'FUNDO')
row = (33, '01PA        ', 'SECTOR 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('474.4000'), '002', 'FUNDO')
row = (34, '02          ', 'SECTOR 2', 'FUNDO CERRO PRIETO', Decimal('461.3000'), '002', 'FUNDO')
row = (35, '0201        ', 'SECTOR 2 MODULO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('50.4000'), '003', 'CULTIVO')
row = (36, '020101      ', 'SECTOR 2 MODULO 1 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('16.5000'), '004', 'LOTE')
row = (37, '020102      ', 'SECTOR 2 MODULO 1 TURNO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('17.0000'), '004', 'LOTE')
row = (38, '020103      ', 'SECTOR 2 MODULO 1 TURNO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('16.5000'), '004', 'LOTE')
row = (39, '0202        ', 'SECTOR 2 MODULO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('54.6000'), '003', 'CULTIVO')
row = (40, '020201      ', 'SECTOR 2 MODULO 2 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('16.4000'), '004', 'LOTE')
row = (41, '020202      ', 'SECTOR 2 MODULO 2 TURNO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('20.9500'), '004', 'LOTE')
row = (42, '020203      ', 'SECTOR 2 MODULO 2 TURNO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('16.7500'), '004', 'LOTE')
row = (43, '0203        ', 'SECTOR 2 MODULO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('71.4000'), '003', 'CULTIVO')
row = (44, '020301      ', 'SECTOR 2 MODULO 3 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('16.6500'), '004', 'LOTE')
row = (45, '020302      ', 'SECTOR 2 MODULO 3 TURNO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('21.2500'), '004', 'LOTE')
row = (46, '020303      ', 'SECTOR 2 MODULO 3 TURNO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('16.4500'), '004', 'LOTE')
row = (47, '020304      ', 'SECTOR 2 MODULO 3 TURNO 4 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('16.5500'), '004', 'LOTE')
row = (48, '0204        ', 'SECTOR 2 MODULO 4 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('100.8000'), '003', 'CULTIVO')
row = (49, '020401      ', 'SECTOR 2 MODULO 4 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('25.0000'), '004', 'LOTE')
row = (50, '020402      ', 'SECTOR 2 MODULO 4 TURNO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('25.0000'), '004', 'LOTE')
row = (51, '020403      ', 'SECTOR 2 MODULO 4 TURNO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('25.0000'), '004', 'LOTE')
row = (52, '020404      ', 'SECTOR 2 MODULO 4 TURNO 4 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('25.0000'), '004', 'LOTE')
row = (53, '0205        ', 'SECTOR 2 MODULO 5 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('100.8000'), '003', 'CULTIVO')
row = (54, '020501      ', 'SECTOR 2 MODULO 5 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('25.0000'), '004', 'LOTE')
row = (55, '020502      ', 'SECTOR 2 MODULO 5 TURNO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('25.0000'), '004', 'LOTE')
row = (56, '020503      ', 'SECTOR 2 MODULO 5 TURNO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('25.0000'), '004', 'LOTE')
row = (57, '020504      ', 'SECTOR 2 MODULO 5 TURNO 4 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('25.0000'), '004', 'LOTE')
row = (58, '0206        ', 'SECTOR 2 MODULO 6 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('83.3000'), '003', 'CULTIVO')
row = (59, '020601      ', 'SECTOR 2 MODULO 6 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('23.8100'), '004', 'LOTE')
row = (60, '020602      ', 'SECTOR 2 MODULO 6 TURNO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('20.9900'), '004', 'LOTE')
row = (61, '020603      ', 'SECTOR 2 MODULO 6 TURNO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('17.4700'), '004', 'LOTE')
row = (62, '020604      ', 'SECTOR 2 MODULO 6 TURNO 4 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('18.0000'), '004', 'LOTE')
row = (63, '03          ', 'SECTOR 3', 'FUNDO CERRO PRIETO', Decimal('745.7600'), '002', 'FUNDO')
row = (64, '0301        ', 'SECTOR 3 MODULO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('96.0000'), '003', 'CULTIVO')
row = (65, '030101      ', 'SECTOR 3 MODULO 1 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (66, '030102      ', 'SECTOR 3 MODULO 1 TURNO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (67, '030103      ', 'SECTOR 3 MODULO 1 TURNO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (68, '030104      ', 'SECTOR 3 MODULO 1 TURNO 4 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (69, '0302        ', 'SECTOR 3 MODULO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('128.0000'), '003', 'CULTIVO')
row = (70, '030201      ', 'SECTOR 3 MODULO 2 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (71, '030202      ', 'SECTOR 3 MODULO 2 TURNO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (72, '030203      ', 'SECTOR 3 MODULO 2 TURNO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (73, '030204      ', 'SECTOR 3 MODULO 2 TURNO 4 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (74, '0303        ', 'SECTOR 3 MODULO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('127.6100'), '003', 'CULTIVO')
row = (75, '030301      ', 'SECTOR 3 MODULO 3 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (76, '030302      ', 'SECTOR 3 MODULO 3 TURNO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('31.0000'), '004', 'LOTE')
row = (77, '030303      ', 'SECTOR 3 MODULO 3 TURNO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('36.6000'), '004', 'LOTE')
row = (78, '030304      ', 'SECTOR 3 MODULO 3 TURNO 4 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('35.0200'), '004', 'LOTE')
row = (79, '0304        ', 'SECTOR 3 MODULO 4', 'FUNDO CERRO PRIETO', Decimal('96.0000'), '003', 'CULTIVO')
row = (80, '030401      ', 'SECTOR 3 MODULO 4 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (81, '030402      ', 'SECTOR 3 MODULO 4 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (82, '030403      ', 'SECTOR 3 MODULO 4 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (83, '030404      ', 'SECTOR 3 MODULO 4 TURNO 4 (VID)', 'FUNDO CERRO PRIETO', Decimal('22.8000'), '004', 'LOTE')
row = (84, '0304-101    ', 'SECTOR 3 MODULO 4-1 TURNO 1 CRIMPSON', 'FUNDO CERRO PRIETO', Decimal('10.8300'), '004', 'LOTE')
row = (85, '0304-102    ', 'SECTOR 3 MODULO 4-1 TURNO 2 CRIMPSON', 'FUNDO CERRO PRIETO', Decimal('10.8300'), '004', 'LOTE')
row = (86, '0304-103    ', 'SECTOR 3 MODULO 4-1 TURNO 3 CRIMPSON', 'FUNDO CERRO PRIETO', Decimal('10.8300'), '004', 'LOTE')
row = (87, '0304-104    ', 'SECTOR 3 MODULO 4-1 TURNO 4 BLACK SEEDLEES', 'FUNDO CERRO PRIETO', Decimal('10.9800'), '004', 'LOTE')
row = (88, '0304-201    ', 'SECTOR 3 MODULO 4-2 TURNO 1 THOMPSON', 'FUNDO CERRO PRIETO', Decimal('10.8300'), '004', 'LOTE')
row = (89, '0304-202    ', 'SECTOR 3 MODULO 4-2 TURNO 2 THOMPSON', 'FUNDO CERRO PRIETO', Decimal('10.8300'), '004', 'LOTE')
row = (90, '0304-203    ', 'SECTOR 3 MODULO 4-2 TURNO 3 THOMPSON', 'FUNDO CERRO PRIETO', Decimal('10.8300'), '004', 'LOTE')
row = (91, '0304-204    ', 'SECTOR 3 MODULO 4-2 TURNO 4 SUPERIOR', 'FUNDO CERRO PRIETO', Decimal('10.9800'), '004', 'LOTE')
row = (92, '0304NUEVO   ', 'SECTOR 3 MODULO 4 2015', 'FUNDO CERRO PRIETO', Decimal('86.9400'), '003', 'CULTIVO')
row = (93, '0304VID     ', 'SECTOR 3 MODULO 4 (VID)', 'FUNDO CERRO PRIETO', Decimal('21.4100'), '003', 'CULTIVO')
row = (94, '0305        ', 'SECTOR 3 MODULO 5', 'FUNDO CERRO PRIETO', Decimal('128.0000'), '003', 'CULTIVO')
row = (95, '030501      ', 'SECTOR 3 MODULO 5 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (96, '030502      ', 'SECTOR 3 MODULO 5 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (97, '030503      ', 'SECTOR 3 MODULO 5 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (98, '030504      ', 'SECTOR 3 MODULO 5 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (99, '0306        ', 'SECTOR 3 MODULO 6 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('170.1500'), '003', 'CULTIVO')
row = (100, '030601      ', 'SECTOR 3 MODULO 6 TURNO 1 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('45.1000'), '004', 'LOTE')
row = (101, '030602      ', 'SECTOR 3 MODULO 6 TURNO 2 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('43.0000'), '004', 'LOTE')
row = (102, '030603      ', 'SECTOR 3 MODULO 6 TURNO 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('41.5000'), '004', 'LOTE')
row = (103, '030604      ', 'SECTOR 3 MODULO 6 TURNO 4 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('40.7000'), '004', 'LOTE')
row = (104, '03PA        ', 'SECTOR 3 (PALTO)', 'FUNDO CERRO PRIETO', Decimal('745.7600'), '002', 'FUNDO')
row = (105, '03VID       ', 'SECTOR 3 (VID)', 'FUNDO CERRO PRIETO', Decimal('745.7600'), '002', 'FUNDO')
row = (106, '04          ', 'SECTOR 4', 'FUNDO CERRO PRIETO', Decimal('899.5400'), '002', 'FUNDO')
row = (107, '0401        ', 'SECTOR 4 MODULO 1', 'FUNDO CERRO PRIETO', Decimal('96.0000'), '003', 'CULTIVO')
row = (108, '040101      ', 'SECTOR 4 MODULO 1 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (109, '040102      ', 'SECTOR 4 MODULO 1 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (110, '040103      ', 'SECTOR 4 MODULO 1 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (111, '040104      ', 'SECTOR 4 MODULO 1 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (112, '0402        ', 'SECTOR 4 MODULO 2', 'FUNDO CERRO PRIETO', Decimal('128.0000'), '003', 'CULTIVO')
row = (113, '040201      ', 'SECTOR 4 MODULO 2 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (114, '040202      ', 'SECTOR 4 MODULO 2 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (115, '040203      ', 'SECTOR 4 MODULO 2 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (116, '040204      ', 'SECTOR 4 MODULO 2 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (117, '0403        ', 'SECTOR 4 MODULO 3', 'FUNDO CERRO PRIETO', Decimal('128.0000'), '003', 'CULTIVO')
row = (118, '040301      ', 'SECTOR 4 MODULO 3 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (119, '040302      ', 'SECTOR 4 MODULO 3 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (120, '040303      ', 'SECTOR 4 MODULO 3 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (121, '040304      ', 'SECTOR 4 MODULO 3 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (122, '0404        ', 'SECTOR 4 MODULO 4', 'FUNDO CERRO PRIETO', Decimal('69.7100'), '003', 'CULTIVO')
row = (123, '040401      ', 'SECTOR 4 MODULO 4 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('19.3000'), '004', 'LOTE')
row = (124, '040402      ', 'SECTOR 4 MODULO 4 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('18.2000'), '004', 'LOTE')
row = (125, '040403      ', 'SECTOR 4 MODULO 4 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('16.0000'), '004', 'LOTE')
row = (126, '040404      ', 'SECTOR 4 MODULO 4 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('15.4000'), '004', 'LOTE')
row = (127, '0405        ', 'SECTOR 4 MODULO 5', 'FUNDO CERRO PRIETO', Decimal('128.0000'), '003', 'CULTIVO')
row = (128, '040501      ', 'SECTOR 4 MODULO 5 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (129, '040501ES    ', 'SECTOR 4 MODULO 5 TURNO 1 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('20.0000'), '004', 'LOTE')
row = (130, '040502      ', 'SECTOR 4 MODULO 5 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (131, '040502ES    ', 'SECTOR 4 MODULO 5 TURNO 2 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('20.0000'), '004', 'LOTE')
row = (132, '040503      ', 'SECTOR 4 MODULO 5 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (133, '040503ES    ', 'SECTOR 4 MODULO 5 TURNO 3 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('20.0000'), '004', 'LOTE')
row = (134, '040504      ', 'SECTOR 4 MODULO 5 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (135, '040504ES    ', 'SECTOR 4 MODULO 5 TURNO 4 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('20.0000'), '004', 'LOTE')
row = (136, '040505ES    ', 'SECTOR 4 MODULO 5 TURNO 5 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (137, '040506ES    ', 'SECTOR 4 MODULO 5 TURNO 6 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (138, '0405ES      ', 'SECTOR 4 MODULO 5 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('128.0000'), '003', 'CULTIVO')
row = (139, '0406        ', 'SECTOR 4 MODULO 6', 'FUNDO CERRO PRIETO', Decimal('128.0000'), '003', 'CULTIVO')
row = (140, '040601      ', 'SECTOR 4 MODULO 6 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (141, '040601ES    ', 'SECTOR 4 MODULO 6 TURNO 1 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('20.0000'), '004', 'LOTE')
row = (142, '040602      ', 'SECTOR 4 MODULO 6 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (143, '040602ES    ', 'SECTOR 4 MODULO 6 TURNO 2 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('20.0000'), '004', 'LOTE')
row = (144, '040603      ', 'SECTOR 4 MODULO 6 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (145, '040603ES    ', 'SECTOR 4 MODULO 6 TURNO 3 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('20.0000'), '004', 'LOTE')
row = (146, '040604      ', 'SECTOR 4 MODULO 6 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (147, '040604ES    ', 'SECTOR 4 MODULO 6 TURNO 4 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('20.0000'), '004', 'LOTE')
row = (148, '040605ES    ', 'SECTOR 4 MODULO 6 TURNO 5 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (149, '040606ES    ', 'SECTOR 4 MODULO 6 TURNO 6 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('24.0000'), '004', 'LOTE')
row = (150, '0406ES      ', 'SECTOR 4 MODULO 6 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('128.0000'), '003', 'CULTIVO')
row = (151, '0407        ', 'SECTOR 4 MODULO 7', 'FUNDO CERRO PRIETO', Decimal('128.0000'), '003', 'CULTIVO')
row = (152, '040701      ', 'SECTOR 4 MODULO 7 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (153, '040701ES    ', 'SECTOR 4 MODULO 7 TURNO 1 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('12.0000'), '004', 'LOTE')
row = (154, '040702      ', 'SECTOR 4 MODULO 7 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (155, '040702ES    ', 'SECTOR 4 MODULO 7 TURNO 2 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('16.0000'), '004', 'LOTE')
row = (156, '040703      ', 'SECTOR 4 MODULO 7 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (157, '040703ES    ', 'SECTOR 4 MODULO 7 TURNO 3 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('16.0000'), '004', 'LOTE')
row = (158, '040704      ', 'SECTOR 4 MODULO 7 TURNO 4', 'FUNDO CERRO PRIETO', Decimal('32.0000'), '004', 'LOTE')
row = (159, '040704ES    ', 'SECTOR 4 MODULO 7 TURNO 4 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('16.0000'), '004', 'LOTE')
row = (160, '040705ES    ', 'SECTOR 4 MODULO 7 TURNO 5 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('16.0000'), '004', 'LOTE')
row = (161, '040706ES    ', 'SECTOR 4 MODULO 7 TURNO 6 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('16.0000'), '004', 'LOTE')
row = (162, '040707ES    ', 'SECTOR 4 MODULO 7 TURNO 7 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('16.0000'), '004', 'LOTE')
row = (163, '040708ES    ', 'SECTOR 4 MODULO 7 TURNO 8 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('16.0000'), '004', 'LOTE')
row = (164, '0407ES      ', 'SECTOR 4 MODULO 7 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('124.0000'), '003', 'CULTIVO')
row = (165, '0408        ', 'SECTOR 4 MODULO 8', 'FUNDO CERRO PRIETO', Decimal('93.8300'), '003', 'CULTIVO')
row = (166, '040801      ', 'SECTOR 4 MODULO 8 TURNO 1', 'FUNDO CERRO PRIETO', Decimal('25.9000'), '004', 'LOTE')
row = (167, '040801ES    ', 'SECTOR 4 MODULO 8 TURNO 1 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('13.9100'), '004', 'LOTE')
row = (168, '040802      ', 'SECTOR 4 MODULO 8 TURNO 2', 'FUNDO CERRO PRIETO', Decimal('23.9000'), '004', 'LOTE')
row = (169, '040802ES    ', 'SECTOR 4 MODULO 8 TURNO 2 (ESPARRAGO)', 'FUNDO CERRO PRIETO', Decimal('12.0000'), '004', 'LOTE')
row = (170, '040803      ', 'SECTOR 4 MODULO 8 TURNO 3', 'FUNDO CERRO PRIETO', Decimal('22.8000'), '004', 'LOTE')

In [12]:
import pandas as pd
df_consumidor = pd.read_sql_query('SELECT * FROM CONSUMIDOR_DIM', cnxn)
df_almacen = pd.read_sql_query('SELECT * FROM ALMACEN_DIM', cnxn)
df_producto = pd.read_sql_query('SELECT * FROM PRODUCTO_DIM', cnxn)
df_puerto = pd.read_sql_query('SELECT * FROM PUERTO_DIM', cnxn)
df_tiempo = pd.read_sql_query('SELECT * FROM TIEMPO_DIM', cnxn)
df_isacHecho = pd.read_sql_query('SELECT * FROM ISAC_HECHO', cnxn)
df_packingHecho = pd.read_sql_query('SELECT * FROM PACKING_HECHO', cnxn)

In [14]:
df_producto.shape

(5356, 15)

In [19]:
df_packingHecho.head(5)

,OLAPPacking,IdPacking,Item,DOCUMENTO,OLAPAlmacen,OLAPTiempo,OLAPProducto,OLAPPuerto,CANTDETALLE,CANTTOTAL,PBRUTOTOTAL,PBRUTODETALLE,PTARATOTAL,PNETOTOTAL,PNETODETALLE
0,1,_47H11ML4150955,008,PCK-0001-0000002,71,677,1041,9,56.0,2040.0,2040.0,459.2,16728.0,16728.0,459.2
1,2,_47H11ML4150955,014,PCK-0001-0000002,71,677,1044,9,102.0,2040.0,2040.0,836.4,16728.0,16728.0,836.4
2,3,_47H11ML4150955,017,PCK-0001-0000002,71,676,1044,9,102.0,2040.0,2040.0,836.4,16728.0,16728.0,836.4
3,4,_47H11ML4150955,015,PCK-0001-0000002,71,677,1065,9,44.0,2040.0,2040.0,360.8,16728.0,16728.0,360.8
4,5,_47H11ML4150955,018,PCK-0001-0000002,71,676,1095,9,102.0,2040.0,2040.0,836.4,16728.0,16728.0,836.4

In [11]:
df_consumidor.tail(5)

,OLAPConsumidor,IdConsumidor,Consumidor,Sucursal,Area,IdNivelConsumidor,NivelConsumidor
318,319,TPE,THOMPSON (PARRON ESPAÑOL),FUNDO CERRO PRIETO,1.04,004,LOTE
319,320,UVAIFG,UVA IFG 1.3 HAS 2016,FUNDO CERRO PRIETO,1.30,004,LOTE
320,321,UVASUP,UVA SUPERIOR 2.57 HAS 2016,FUNDO CERRO PRIETO,2.57,004,LOTE
321,322,UVATRA,PROYECTO UVA TRADICIONAL 61 HAS 2016,FUNDO CERRO PRIETO,61.00,004,LOTE
322,323,VID,CULTIVO VID,FUNDO CERRO PRIETO,474.40,002,FUNDO